<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>ToDos</title>

    <link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script type="text/javascript" src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    
  </head>
  <body>
    <div class="page-content page-container" id="page-content">
      <div class="padding">
          <div class="row container d-flex justify-content-center">
              <div class="col-md-12">
                  <div class="card px-3">
                      <div class="card-body">
                          <h4 class="card-title"><%= firstName %> <%= lastName %> - <%= mail %> -  Todo list</h4>
                          <div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" placeholder="What do you need to do today?"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Add</button> </div>
                          <div class="list-wrapper">
                              <ul class="d-flex flex-column-reverse todo-list">
                                
                                <% for (var i = 0; i < todos.length; i++) { %>
                                      <li>
                                        <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> <%= todos[i] %> <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline"></i>
                                          
                                      </li>
                                <% } %>
                                
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> 
  </body>
</html>